:root {
    --label-color: #ffffff;
    --primary-color: #5865f2;
    --secondary-color: #4e5058;
    --success-color: #248046;
    --danger-color: #da373c;
    --blue-color: #1d9bf0;
}

.button {
    color: var(--label-color);
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 8px 1.5rem 0;
    border: none;
    border-radius: 3px;
}

.button:hover {
    color: var(--label-color);
    text-decoration: none;
}

.button:hover:not(.disabled) {
    opacity: 0.8;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.success {
    background-color: var(--success-color);
}

.danger {
    background-color: var(--danger-color);
}

.blue {
    background-color: var(--blue-color);
}